<p>Dear {{ user.name }},</p>
<p>
    Your Perego account has been migrated to our new platform.<br>
    Please, follow the link below to review your personal data and gain access to all the new awesome features waiting for you!</p>
<p>
    Best regards,<br>
    Perego Team
</p>
