{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .table .table-header {
        background-color: #bbbbbb;
    }
    .table .table-row:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="example-wrapper">
    <h1>Users</h1>
    <table class="table">
        <tr class="table-header">
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Blocked?</th>
        </tr>
        {% for user in users %}
        <tr class="table-row">
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td style="text-align: center">{{ user.block ? '✅' : '✖' }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
